In [39]:
import pandas as pd
import numpy as np

df = pd.read_csv('mercedes.csv',usecols=['X1','X2'])
df

     X1  X2
0     v  at
1     t  av
2     w   n
3     t   n
4     v   n
...  ..  ..
4204  s  as
4205  o   t
4206  v   r
4207  r   e
4208  r  ae

[4209 rows x 2 columns]

In [40]:
df.shape

(4209, 2)

## One hot encoding

In [41]:
pd.get_dummies(df).shape #here we can see that when we apply one hot encoding there is a curse of dimensionality

(4209, 71)

In [42]:
len(df['X1'].unique())

27

In [43]:
len(df['X2'].unique())

44

In [44]:
#to check for how many labels are there in each column

for col in df.columns[0:]:
    print(col, ':' ,len(df[col].unique()), 'labels')

X1 : 27 labels
X2 : 44 labels

In [45]:
#check for how many times a label is present in the variable X2 
# We are storing the variables in a dictionary so that we can remap them later

df_freq_count = df.X2.value_counts().to_dict()
df_freq_count

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

Now lets replace the values in the dataset by their counts which we got from the dictionary above. Here we are now applying <b> Count or Frequency Encoding </b>

In [46]:
df.X2 = df.X2.map(df_freq_count)
df

     X1    X2
0     v     6
1     t     4
2     w   137
3     t   137
4     v   137
...  ..   ...
4204  s  1659
4205  o    29
4206  v   153
4207  r    81
4208  r   496

[4209 rows x 2 columns]

we can see that each category is replaced by the count for the column X2 similarly we can do for X1

In [47]:
df_freq_count2 = df.X1.value_counts().to_dict()
df_freq_count2

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [48]:
df.X1 = df.X1.map(df_freq_count2)
df

       X1    X2
0     408     6
1      31     4
2      52   137
3      31   137
4     408   137
...   ...   ...
4204  598  1659
4205   82    29
4206  408   153
4207  251    81
4208  251   496

[4209 rows x 2 columns]