provides a concise way to create lists consists of brackets followed by a 'for' clause or 'if' clauses.

In [7]:
#we are creating a new list by squaring the old list and storing it into the new one

lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)  # to add new elements
    return lst1

In [8]:
lst_square([1,2,3,4,5,6,7,8])

[1, 4, 9, 16, 25, 36, 49, 64]

to achieve all this in one line of code we can use list comprehension

In [10]:
lst = [2,3,4,5,6,7,8,9]

In [11]:
[i*i for i in lst]   # first expression of what it has to return is written followed by a for loop

[4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
[i*i for i in lst if i %2 == 0] #print square of only even numbers in the list and if condition is written after loop

[4, 16, 36, 64]

# String Formating

In [1]:
def greeting (name):  # {} --> placeholders
    return 'Hello {} welcome to the community'.format(name)

In [2]:
greeting('maria')

'Hello maria welcome to the community'

# Iterables vs iterators

In [11]:
#list is iterable means all values will be stored in the memory location and will be iterated from the memory location

lst = [1,2,3,4,5,6,7,8,9]

for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

In [38]:
lst1 = iter(lst) # for iterator all values are not intialized in the memory location only when we call next () then only one by one values will be initialized in the memory

In [39]:
lst1

In [42]:
next(lst1) # it will iterate one by one till the last element in the list until it gives an error that no more iterations can happen

3

In [43]:
for i in lst1:  # for loop will start from the variable where the next () last iterated through the value means that if it run through 3 value the for loop will start from 4 value
    print(i)

4
5
6
7
8
9

In [2]:
df = pd.read_csv('mercedes.csv')
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0